
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div>
        <h1>Trabajo Programación Avanzada IV</h1>
        <br>
        <h4>Alumno: Gabriel Utreras</h4>
        <p>RUT: 17378493-7</p>
        <p>Sección: AP151</p>
        <br>
        <p><b><a href="Home/NuevaVenta">Realizar Nueva Venta</a></b></p>
    </div>
</body>
</html>

